body {
  background-color: hsl(210, 15%, 30%);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(225, 10%, 15%);
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(225, 10%, 10%);
}

#header,
#sidebar {
  background-color: hsl(225, 7.5%, 5%);
}

button,
#version-display {
  background-color: hsl(240, 5%, 15%);
}

.popup {
  background-color: hsl(240, 5%, 10%);
}
