#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
  z-index: 10;

  /* opening */
  translate: 0px -110px;
}

#favicon {
  position: absolute;
  left: 20px;
  width: 80px;
  height: auto;
}

#header h1 {
  position: absolute;
  left: 110px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

/* createSearchBar */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* createSearchIcon */
.search-icon-container {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.search-icon-lens {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(10px at 16.5px 17px);
}
.search-icon-inner {
  position: absolute;
  width: 12%;
  height: 150%;
  background-color: #ffff7a;
}
.search-icon-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* createEraserIcon */
.eraser-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 10px;
}
.eraser-icon-container > img {
  position: absolute;
  width: 40px;
  height: 40px;
}

/* createTextInput */
.text-input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-input {
  box-sizing: border-box;
  position: absolute;
}

/* headerBulb */
#header > .bulb-container {
  position: absolute;
  right: 20px;
}
