/* 主頁 */
.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  background: radial-gradient(
    circle at center,
    hsla(210, 0%, 10%, 0%),
    hsla(210, 0%, 10%, 50%)
  );
}

.title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 10px 50px 10px 45px;
  border-radius: 25px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
  text-align: center;
  background: radial-gradient(
    circle at left bottom,
    hsla(200, 0%, 10%, 0.5),
    hsla(200, 0%, 10%, 1)
  );
}

.title .ico {
  width: 120px;
  height: auto;
}

.title h1 {
  font-size: 72px;
  margin-bottom: 40px;
}

.buttons-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 60px;
  width: 45%;
}

.btn-wrapper {
  position: relative;
  display: block;
  padding: 0 0 10px 10px;
  color: #ffffff;
  font-size: 24px;
}

.btn {
  z-index: 2;
  position: relative;
  background-color: hsla(200, 0%, 10%, 0.9);
  padding: 15px 35px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.btn:hover::before {
  opacity: 1;
}

.btn[data-image="Nature"]::before {
  background-image: url("./images/jpg/Nature/Nature Instance Assets Preview (Oak Tree B).jpg");
}

.btn[data-image="Props"]::before {
  background-image: url("./images/jpg/Props/Bike 1.jpg");
}

.btn[data-image="Scene"]::before {
  background-image: url("./images/jpg/Scene/P17.jpg");
}

.btn-shadow {
  width: 95%;
  height: 90%;
  border-radius: 10px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
  background-color: hsla(200, 0%, 10%, 0.65);
  opacity: 0.7;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.tool-bar {
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}

.stop-btn,
.setting-btn,
.search-bar {
  z-index: 2;
  position: relative;
  background-color: hsla(200, 0%, 10%, 0.65);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding-right: 10px;
  width: 25%;
}

.search-input {
  background-color: hsla(200, 0%, 10%, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  border-width: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat";
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.search-input:focus-visible {
  outline: 0;
}

.stop-btn img,
.setting-btn img,
.search-bar img {
  cursor: pointer;
  width: 55px;
  height: auto;
}
