/* createFolderSelect */
.folder-select {
  position: relative;
  width: 240px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* createFolderButton */
.folder-button {
  width: 240px;
  height: 45px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.folder-button-layer1,
.folder-button-layer2 {
  position: absolute;
  width: 240px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  clip-path: inset(0);
  pointer-events: none;
}
.folder-button-label {
  position: relative;
  width: 172px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.folder-button-layer2 > .folder-button-label {
  color: hsl(240, 5%, 10%);
  font-weight: bolder;
}

/* createFolderIcon */
.folder-icon-container {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.folder-icon-img {
  position: absolute;
  width: 40px;
  height: 40px;
}
.folder-icon-front {
  position: absolute;
  bottom: 6px;
  box-sizing: border-box;
  width: 34px;
  height: 20px;
  border-radius: 4px;
  background-color: white;
  align-self: flex-end;
  border: solid 3px;
  transform-origin: center bottom;
}
