/* createSettingButton */
.setting-button {
  position: absolute;
  bottom: 65px;
  right: 10px;
  width: 115px;
  height: 45px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* createSettingSelect */
.setting-select {
  position: absolute;
  bottom: 120px;
  width: 240px;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;

  display: none;
}
