@import url("other-top-aside.css");
@import url("other-loading-icon.css");

#loading-info {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  background-color: hsl(240, 5%, 10%);
  font-size: 15px;
}
