.light-box {
  position: absolute;
  top: 115px;
  bottom: 85px;
  left: 0;
  right: 0;
}
.light-box-scroller {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 45px 10px;

  scrollbar-color: transparent transparent;
  scrollbar-gutter: stable both-edges;
  overflow-y: auto;
  overflow-x: visible;
  transition: scrollbar-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#sidebar:hover .light-box-scroller {
  scrollbar-color: hsl(240, 5%, 25%) transparent;
}
.light-box-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.light-box-mask {
  pointer-events: none;
  position: absolute;
  left: -10px;
  width: calc(100% - 20px);
  height: 100%;
  background: linear-gradient(
    hsl(225, 7.5%, 5%),
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    hsl(225, 7.5%, 5%)
  );
}

/*  */

.light-box-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 10px 0;
}
.light-box-image-container:first-child {
  padding: 0 0 10px 0;
}
.light-box-image-container:last-child {
  padding: 10px 0 0 0;
}
.light-box-image-container > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.light-box-image-container > div > * {
  aspect-ratio: 16 / 9;
  width: 80%;
  height: auto;
  border-radius: 5px;
  translate: -15px;
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: scale, opacity, translate;
}
.light-box-image-back {
  position: absolute;
  filter: blur(15px);
  opacity: 0;
}
.light-box-image {
  position: relative;
  box-shadow: 0 0 10px black;
}

/*  */

.light-box-image-container:hover > div > * {
  scale: 1.05;
}
.light-box-image-container:hover .light-box-image-back {
  opacity: 1;
}
.light-box-image-container:active > div > * {
  transition: 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  scale: 0.98;
}

/*  */

.light-box-active {
  pointer-events: none;
}
.light-box-active > div > * {
  translate: 0px;
}
.light-box-active > div > .light-box-image {
  outline: white solid 3px;
}
.light-box-active::after {
  position: absolute;
  left: -15px;
  content: "";
  width: 20px;
  height: 20px;
  animation: light-box-swing 1.5s ease-in-out infinite;
}
@keyframes light-box-swing {
  0% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

/*  */

.preview-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.preview-intro {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  z-index: 1;
}
.preview-intro > h1 {
  margin: 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px, rgba(0, 0, 0, 0.5) 0px 0px 50px;
}
.preview-intro > .line {
  height: 120%;
  width: 3px;
  background: white;
  border-radius: 3px;
}
.preview-image-container {
  position: relative;
  width: 100%;
  height: 90%;
}
.preview-image-container > figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-image-container > figure > img {
  position: absolute;
  object-fit: contain;
  max-width: 97%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.preview-image-back {
  filter: blur(25px) brightness(0.75);
  box-shadow: none;
}
